/*
 * CSS rules for visualization.
 * Class namespacing is good practice.
 */
.chart-wrapper {
    width: 100%;
    padding: 20px;
}

#btn-full-screen-chart {
    position: absolute;
    top: 10px;
    right: 10px;
    width: 15px;
    height: 15px;
    color: rgb(5, 5, 5);
    text-align: center;
    line-height: 15px;
    border: 1px solid darkgray;
    border-radius: 3px;
    cursor: pointer;
    background: rgba(206, 205, 205, 0.5);
}

.highcharts-wrapper:-moz-full-screen::backdrop {
    background-color: #fff;
  }
  .highcharts-wrapper:fullscreen::backdrop {
      background-color: #fff;
  }
  .highcharts-wrapper:-ms-fullscreen::-ms-backdrop {
      background-color: #fff;
  }
  .highcharts-wrapper:-webkit-full-screen::backdrop {
      background-color: #fff;
  }

